<div class="container-fluid">
  <h1>See all created Reko Lists here!</h1>
  <table class="table table-sm">
    <tr>
      <th>id</th>
      <th>owner_id</th>
      <th>owner_name</th>
      <th>title</th>
      <th>visitor_token</th>
      <th>owner_token</th>
      <th>rekos</th>
      <th>created_at</th>
      <th>updated_at</th>
    </tr>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.id %></td>
        <td><%= list.owner.id %></td>
        <td><%= list.owner.first_name %></td>
        <td><%= list.title %></td>
        <td><%= list.visitor_token %></td>
        <td><%= list.owner_token %></td>
        <td><%= list.rekos.size %></td>
        <td><%= list.created_at %></td>
        <td><%= list.updated_at %></td>
      </tr>
    <% end %>
  </table>
</div>
