<div class="background-container violet">
  <div class="master-container">

  <div class="welcome-message">
    <h1 style="color:white;">Team Reko Says Hi</h1>
  </div>

<div class="paper-wrapper">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
  <div class="form-wrapper">
    <h1 style="color:#6966F6"> Join the Beta:</h1>
        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      placeholder: "EMAIL",
                      label: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :first_name,
                      required: true,
                      placeholder: "FIRST NAME",
                      label: false,
                      autofocus: true,
                      input_html: { autocomplete: "first-name"}%>
          <%= f.input :last_name,
                      required: true,
                      placeholder: "LAST NAME",
                      label: false,
                      autofocus: true,
                      input_html: { autocomplete: "last-name"}%>
          <%= f.input :password,
                      placeholder: "PASSWORD",
                      label: false,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "SIGN UP", id:"form-bttn"%>
        </div>
        <% end %>
        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
