<%= render partial: "navbar" %>
<%= render partial: "overrider_style_admins" %>

<div class="container jsTrigger-removeMediaQueries">
  <!-- <h1>Reko Backend Controlpanel</h1> -->

  <!-- ADMIN USER STORIES -->
  <h2>Admin User Stories</h2>
  <table class="table table-sm">
    <tr>
      <th></th>
      <th>description</th>
      <th>link (optional)</th>
    </tr>
    <tr>
      <td>✅</td>
      <td>I can list all users</td>
      <td><%= link_to "all users", admins_users_path %></td>
    </tr>
    <tr>
      <td>✅</td>
      <td>I can list all rekos</td>
      <td><%= link_to "all rekos", admins_rekos_path %></td>
    </tr>
    <tr>
      <td>✅</td>
      <td>I can list the rekos of a single user</td>
      <td><%= link_to "random user's rekos", admins_user_path(User.all.sample) %></td>
    </tr>
    <tr>
      <td>✅</td>
      <td>I can list all recommendables (movies) alphabetically and see how often they got recommended</td>
      <td><%= link_to "all recommendables", admins_recommendables_path %></td>
    </tr>
    <tr>
      <td>✅</td>
      <td>I can list all preferences (movie + documentary) and see how often they got selected</td>
      <td><%= link_to "all preferences", admins_preferences_path %></td>
    </tr>
    <tr>
      <td>✅</td>
      <td>I can list all beta applicants</td>
      <td><%= link_to "all beta applicants", admins_beta_applicants_path %></td>
    </tr>
    <tr>
      <td>❌</td>
      <td>I can search for movies via ITunes API call and store them in our database</td>
      <td>...</td>
    </tr>
  </table>
</div>



