<div id="movie-list" class="jsTrigger-makeSwipe">
  <% movies.each do |reko| %>
    <div class="swiper-card" data-reko-id="<%= reko[:reko].id %>">
      <div class=" swiper-container <%= 'no-swipe-left' if reko[:reko].done? %>">
        <div class="swiper-wrapper">
          <!-- MARK WATCHED -->
          <div class="swiper-slide mark-watched-slide">
            <%= link_to "", reko_mark_as_done_path(reko[:reko]), method: :put, remote: true, style: "color: white; height: 90px; width: 90px; display: flex; align-items: center; justify-content: center"%>
          </div>

          <!-- MAIN SLIDE  -->
          <div class="swiper-slide main-slide <%= 'light-grey-background' if reko[:reko].done? %> can-be-marked-done">
            <div class="reko-info">
              <div class="reko-title"><p><%= reko[:reko].recommendable.title %></p></div>
              <div class="sender-names">
                <div id="friends-names">
                  <p>from <%= reko[:sender_names].join(", ") %></p>
                </div>
              </div>
            </div>
            <div class="reko-artwork" style="background-image: url(<%= reko[:reko].recommendable.image_url %>);">
              <div class="seen" style="visibility: hidden">
                <%= image_tag "check-mark", alt: "alttext", width: 20 %>
              </div>
            </div>
          </div>

          <!-- DELETE REKO -->
          <div class="swiper-slide delete-slide" >
            <%= link_to "", reko_mark_as_rejected_path(reko[:reko]), method: :put, remote: true, style: "color: white; height: 90px; width: 90px; display: flex; align-items: center; justify-content: center"  %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
