<!--
  THIS PARTIAL NEEDS TWO PARAMETERS
  "rekos", WHICH IS AN ARRAY OF REKO INSTANCES
  "hide_receiver", WHICH IS A BOOLEAN TO NOT SHOW THE receiver
-->
<table class="table table-sm">
  <tr>
    <th></th>
    <th>id</th>
    <% unless hide_receiver %>
      <th>receiver_id</th>
      <th>receiver_name</th>
    <% end %>
    <th>sender_name</th>
    <th>recommendable_type</th>
    <th>recommendable_id</th>
    <th>recommendable_title</th>
    <th>status</th>
    <th>created_at</th>
    <th>updated_at</th>
  </tr>
  <% rekos.each do |reko| %>
    <tr>
      <td><img src="<%= reko.recommendable.image_url %>" alt="" height="60"></td>
      <%#= image_tag reko.recommendable.url(:large), :style => "border: 1px solid red" %>
      <td><%= reko.id %></td>
      <% unless hide_receiver %>
        <td><%= link_to reko.receiver.id, user_path(reko.receiver) %></td>
        <td><%= reko.receiver.first_name %></td>
      <% end %>
      <td><%= reko.sender_name %></td>
      <td><%= reko.recommendable_type %></td>
      <td><%= reko.recommendable_id %></td>
      <td><%= reko.recommendable.to_s %></td>
      <td><%= reko.status %></td>
      <td><%= reko.created_at %></td>
      <td><%= reko.updated_at %></td>
    </tr>
  <% end %>
</table>
