<input id="userId" type="hidden" value="<%= current_user.id %>">
<input id="owner_token" type="hidden" value="<%= current_user.owner_token %>">
<div class="jsTrigger-switchRandomAvatar jsTrigger-copyToClipboard b-dark-gray"></div>
<div class="master-container-inbox">
  <div class="inbox-title">
    <img id="avatar-inbox-page" src="<%= asset_path(current_user.image_url)%>">
    <span id="refresh"><%= current_user.first_name.capitalize %></span>
  </div>

  <% if true %>
  <div class="full-height-wrapper">
  <div class="min-height paper-wrapper paper-wrapper-with-footer <%= 'paper-wrapper-empty-list' if @movies.size == 0 %>">
    <!-- HEADER SECTION -->
    <div class="inbox-top-nav">
      <div class="copy-link-nav">
        <input id="visitorLink" type="text" value="<%= @visitor_link %>" readonly="true" style="opacity:0; width:1px; height:1px;"/>
        <button id="<%= 'bttnCopyVisitorLink' if @movies.size > 0 %>" type='button' class="bttn js-copy reko-link b-violet <%= 'hidden-link-button' if @movies.size == 0 %> demo-link-fontsize">
          <div class="visitor-link-in-button">
            <%= @visitor_link %>
          </div>
          <div class="copy-icon-in-button">
            <%= image_tag "copy-icon", alt: "copy link icon" %>
          </div>
        </button>
      </div>
      <div id="pulse-bttn-container">
        <%= link_to "+", new_reko_path(token: current_user.token, owner_token: current_user.owner_token, sender_name: "YOU", redirect_home: true), class:"bttn-round" %>
      </div>
    </div>

    <!-- CONTENT -->
    <%if @movies.size > 0 %>
      <%= render partial: "rekos/movie-items", locals: {movies: @movies} %>
    <% else %>
      <%= render partial: 'empty_inbox_slider' %>
    <%end %>

    <!-- FOOTER -->
    <%= render partial: 'feedbacks/footer' %>
  </div>
  </div>
  <% end %>
</div>

<style>
  .min-height {
    min-height: 88vh;
  }
</style>
<script>
  const ownerToken = document.getElementById("owner_token").value;
  const refresh = document.getElementById("refresh");
  refresh.addEventListener("click", ()=> {
    window.location = (`/rekos?owner_token=${ownerToken}`);
  });
</script>
