<div class="jsTrigger-makeSwipe jsTrigger-copyToClipboard jsTrigger-feedbackModal b-dark-gray">
  <div class="master-container">

    <div class="inbox-title">
      <img src="<%= asset_path 'avatar.png'%>"> </img> <%= current_user.first_name.capitalize %>
    </div>

    <div class="paper-wrapper paper-wrapper-with-footer">
      <%#= link_to "Add new reko", new_reko_path(token: current_user.token)  %>
      <div class="inbox-top-nav">
        <div class="copy-link-nav">
          <input id="visitorLink" type="text" value="<%= @visitor_link %>" readonly="true" style="opacity:0; width:1px; height:1px;"/>
          <button id="<%= 'bttnCopyVisitorLink' if @movies.size > 0 %>" type='button' class="bttn js-copy reko-link b-violet <%= 'hidden-link-button' if @movies.size == 0 %>">
            <div class="visitor-link-in-button">
              <%= @visitor_link %>
            </div>
            <div class="copy-icon-in-button">
              <%= image_tag "copy-icon", alt: "copy link icon" %>
            </div>
          </button>
        </div>
          <%= link_to "+", rekos_new_search_path(token: current_user.token), class:"bttn-round" %>
      </div>

<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- DONT TOUCH BELOW OR ASSUNTA WILL KILL YOU -->
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

      <%if @movies.size > 0 %>
        <div>
          <div id="movie-list">

            <% @movies.each do |reko| %>
              <div class="swiper-card" data-reko-id="<%= reko[:reko].id %>">
                <div class="swiper-container <%= 'no-swipe-left' if reko[:reko].done? %>">
                  <div class="swiper-wrapper">
                    <!-- MARK WATCHED -->
                    <div class="swiper-slide mark-watched-slide">
                      <%= link_to "", reko_mark_as_done_path(reko[:reko]), method: :put, remote: true, style: "color: white; height: 90px; width: 90px; display: flex; align-items: center; justify-content: center"%>
                    </div>

                  <!-- MAIN SLIDE  -->
                    <div class="swiper-slide main-slide <%= 'light-grey-background' if reko[:reko].done? %> can-be-marked-done">
                      <div class="reko-info">
                        <div class="reko-title"><%= reko[:reko].recommendable.title %></div>

                        <div class="sender-names">
                          <i style="font-size: 29px" class="fas fa-user-circle in-card-avatar"></i>

                          <div>
                            <%= reko[:sender_names].first.capitalize %>
                            <% if reko[:sender_names].size > 1 %>
                              +
                            <%= pluralize((reko[:sender_names].size - 1), 'other') %>
                            <% end %>
                          </div>
                        </div>
                      </div>


                      <div class="reko-artwork" style="background-image: url(<%= reko[:reko].recommendable.image_url %>);">

                        <% if reko[:reko].done? %>
                          <div class="seen">
                            <%= image_tag "check-mark", alt: "alttext", width: 20 %>
                          </div>
                        <% end %>
                      </div>
                    </div>

                  <!-- DELETE REKO -->
                    <div class="swiper-slide delete-slide" >
                      <%= link_to "", reko_mark_as_rejected_path(reko[:reko]), method: :put, remote: true, style: "color: white; height: 90px; width: 90px; display: flex; align-items: center; justify-content: center"  %>
                    </div>

                    </div>
                  </div>
                </div>
<!--               </div>
 -->          <% end %>
          </div>

      <% else %>
        <div class="empty-reko-list">
          <h3 class="rekos-are-empty">
            Your reko inbox is empty...
          </h3>
          <div class="link-copy f-violet">SEND THIS LINK TO FRIENDS:</div>
          <div class="copy-link-nav">
            <input id="visitorLink" type="text" value="<%= @visitor_link %>" readonly style="opacity:0; width:1px; height:1px;"/>
            <button id="<%= 'bttnCopyVisitorLink' if @movies.size == 0 %>" type='button' class="bttn js-copy reko-link b-violet large-link-bttn <%= 'hidden-link-button' if @movies.size > 0 %>">
              <div class="visitor-link-in-button ">
                <%= @visitor_link %>
              </div>
              <div class="copy-icon-in-button">
                <%= image_tag "copy-icon", alt: "copy link icon" %>
              </div>
          </button>
          </div>

          <img id="hand-point" src="<%= asset_path 'finger.png'%>" class="animate-reveal animate-first"> </img>
          <h4 class="rekos-are-empty send-link animate-reveal animate-first">
            * Copy this to your clipboard and text it to your most trusted friends.
          </h4>
        </div>
      <%end %>
    </div>
    <%= render 'feedbacks/footer' %>

  </div>
</div>
