<!-- TRIGGER JavaScript -->
<!-- <meta class="jsTrigger-addNewRekos"> -->
<!-- ENCODE "auth-token", "rekoTickImgUrl" and "userSignedId" inside hidden fields -->
<input id="rekoTickImgUrl" type="hidden" value="<%= asset_path 'white-check.svg' %>">
<input id="userSignedIn" type="hidden" value="<%= user_signed_in? %>">
<input id="params_senderName" type="hidden" value="<%= @sender_name %>">
<input id="params_token" type="hidden" value="<%= @token %>">
<input id="params_searchTerm" type="hidden" value="<%= @search_term %>">
<!-- END OF HIDDEN FIELDS -->

<div id="search-page-container">
  <div id="sticky-search-navbar">
    <form id="formAjaxSearch" class="visible">
      <input autocomplete="off" id="inputKeyword" name="" type="text" class= "input-field-text-md" placeholder="search for movies">
    </form>
  </div>

  <!-- CARDS STYLING -> _search-cards.scss -->
  <div id="search-cards-container">
    <%#= render partial: "placeholder_movies" %>
  </div>
  <div id="sticky-footer-placeholder" style="height:120px"></div>
  <div id="sticky-footer-send">
    <button id="sendRekosButton" class="bttn-round-small invisible"></button>
  </div>
</div>







<script>
  console.log("HI FROM INLINE new.html.erb");
  // -----------------------
  // LOAD DATA + DOM OBJECTS
  // -----------------------
  // controll post requests
  let count = 0;
  let target;
  // selected itunes_id's selected
  let selectedItunesIds = []
  // load img tick
  const rekoTickImgUrl = document.getElementById("rekoTickImgUrl").value;
  const userSignedIn = document.getElementById("userSignedIn").value === "true";
  console.log(`User signed in: ${userSignedIn}`);
  const authenticityToken = document.querySelector('[name="csrf-token"]').content;
  // get params (from url)
  let senderName = document.getElementById('params_senderName').value;;
  const token = document.getElementById('params_token').value;
  const searchTerm = document.getElementById("params_searchTerm").value;
  // get DOM elements
  const formAjaxSearch = document.getElementById("formAjaxSearch");
  const inputKeyword = document.getElementById("inputKeyword");
  const cardsContainer = document.getElementById("search-cards-container");
  const sendRekosButton = document.getElementById("sendRekosButton");

  // ----------------------------
  // LISTENERS + HELPER FUNCTIONS
  // ----------------------------
  // ADD EVENTLISTENER FOR AJAX CALL
  inputKeyword.addEventListener("keyup", (event)=> {
    apiCall(inputKeyword.value);
  });

  sendRekosButton.addEventListener('click', () => {
    const cards = document.querySelectorAll(".selected");
    target = cards.length;
    cards.forEach((card) => {
      sendPostRequestToCreateReko(card);
    });
  });
  const myFunction = (event) => {
    const card = event.currentTarget;
    console.log(card);
    console.log(event);
    card.classList.toggle("selected");
    setButtonState();
  };
  const addCardEventListeners = () => {
    allCards = document.querySelectorAll(".search-card");
    allCards.forEach((card) => {
      card.addEventListener("click", myFunction);
    });
  };
  const removeCardEventListeners = () => {
    allCards = document.querySelectorAll(".search-card");
    allCards.forEach((card) => {
      card.removeEventListener("click", myFunction);
    });
  };
  // cardsContainer.children.forEach((card) => {
  //   console.log(card);
  // });
  // document.querySelector('body').addEventListener('click', (event) => {
  //   const clickedCard = event.target;
  //   console.log("clickedCard");
  //   console.log(clickedCard);
  //   console.log(clickedCard.classList.contains("search-card"));
  //   clickedCard.classList.toggle("selected");
  //   setButtonState();
  // });

  // ENABLE BUTTON IF ELEMENTS ARE SELECTED
  const setButtonState = () => {
    console.log("inside setButtonState");
    console.log(sendRekosButton);
    if (document.querySelectorAll(".selected").length > 0) {
      console.log("at least one selected");
      sendRekosButton.classList.remove("invisible");
      sendRekosButton.classList.add("visible");
      // sendRekosButton.style.visibility = "visible";
    } else {
      console.log("none selected");
      sendRekosButton.classList.remove("visible");
      sendRekosButton.classList.add("invisible");
      // sendRekosButton.style.visibility = "collapse";
    }
  };
  // ITUNES API CALL FROM JS
  const apiCall = (searchTerm) => {
    // NEEDED TO PREVENT CORS FAILURE? -> do more research on it when time...
    const proxyurl = "https://cors-anywhere.herokuapp.com/";
    const url = "https://itunes.apple.com/search?media=movie&term=" + normalize(searchTerm); //
    fetch(proxyurl + url)
    .then((response) => response.json())
    .then((data) => {
      let movies = [];
      data.results.forEach((result) => { // loop over all results
        if (result.kind === "feature-movie") {
          const movie = buildMovie(result);
          movies.push(movie);
        }
      });
      deleteCardsIfNotSelected(); // reset cards
      // rdelete all event listeners from selected cards
      addCards(movies);
      removeCardEventListeners();
      addCardEventListeners();
    });
  };

  const buildMovie = (apiResultObject) => {
    return {
      "title": apiResultObject.trackName,
      "artworkUrl": resizeImage(apiResultObject.artworkUrl100),
      "itunesId": apiResultObject.trackId,
      "primaryGenreName": apiResultObject.primaryGenreName,
    }
  };

  const deleteCardsIfNotSelected = () => {
    selectedItunesIds = [];
    const cards = document.querySelectorAll(".search-card");
    cards.forEach((card) => {
      if (card.classList.contains("selected") != true) {
        removeElement(card);
      } else {
        selectedItunesIds.push(card.dataset.itunes_id);
      }
    });
  };

  const removeElement = (el) => {
    el.parentNode.removeChild(el);
  };

  const addCards = (movies) => {
    movies.forEach((movie) => {
      const card = buildCard(movie);
      if (selectedItunesIds.includes(card.dataset.itunes_id) == false) {
        cardsContainer.insertAdjacentElement('beforeend', card);
      }
    });
  };

  const deleteChildren = (element) => {
    while (element.firstChild) {
      element.removeChild(element.firstChild);
    }
  };

  const addChild = (element, movie) => {
    element.insertAdjacentHTML("beforeend", `<p>${movie.title}</p>`);
  };

  const buildCard = (movie) => {
    // create div with class "search-card" // <div class="search-card">
    const searchCardDiv = createElWithClasses("div", ["search-card"]);
    // create div with class "green-layer" // <div class="green-layer">
    const greenLayerDiv = createElWithClasses("div", ["green-layer"]);
    // create img with src = ... and alt="tekoTickImg"
      // <img src="<%= asset_path 'white-check.svg' %>" alt="rekoTickImg">
    searchCardDiv.style.background = `url("${movie.artworkUrl}")`;
    searchCardDiv.style.backgroundSize = "cover";
    // add reko tick image to card
    greenLayerDiv.insertAdjacentElement('beforeend', createRekoTickImage());
    searchCardDiv.insertAdjacentElement('beforeend', greenLayerDiv);
    // insertElements(searchCardDiv, [rekoTickImg]);
    // set dataset attributes (for ruby backend!)
    searchCardDiv.dataset.title = movie.title;
    searchCardDiv.dataset.image_url = movie.artworkUrl;
    searchCardDiv.dataset.itunes_id = movie.itunesId;
    searchCardDiv.dataset.genre = movie.primaryGenreName;
    searchCardDiv.dataset.sender_name = senderName;
    return searchCardDiv
  };

  const createElWithClasses = (tagname, classnameArr) => {
    const el = document.createElement(tagname);
    classnameArr.forEach((classname) => {
      el.classList.add(`${classname}`);
    });
    return el
  };

  const createRekoTickImage = () => {
    const img = document.createElement('img');
    img.src = rekoTickImgUrl;
    return img
  };

  const normalize = term => {
    return term.replace(/ /g, '+');
  };

  const resizeImage = (url) => {
    return url.replace("100x100bb.jpg", "400x400bb.jpg");
  };

  formAjaxSearch.addEventListener("submit", (event) => {
    event.preventDefault();
    // console.log("SUBMITT EVENT TRIGGERED");
    const movies = []; // save movie titles
    const cards = document.querySelectorAll(".selected");
    target = cards.length;
    cards.forEach((card) => {
      sendPostRequestToCreateReko(card);
    });
  });

  // GET REDIRECTION URL
  const buildRedirectionUrl = (userSignedIn) => {
    console.log(`USER SIGNED IN: ${userSignedIn}`);
    let redirectionUrl;
    if (userSignedIn) {
      redirectionUrl = "/rekos";
    } else {
      redirectionUrl = `/thankyou?token=${token}&name=${senderName}`; // &movies=${normalize(movies.join("_and_"))}
    }
    return redirectionUrl
  };

  const sendPostRequestToCreateReko = (card) => {
    const xhr = new XMLHttpRequest();
    // listener for server response
    // whenever the request gets a response the .onload() function gets triggered
    xhr.onload = function () {
      count += 1;
      // console.log("Yay, we got an an answer from the server (request response):");
      // console.log(this);
      // console.log("check if this was the last post request to send?");
      if (count == target) {
        console.log(`REDIRECTING: ${buildRedirectionUrl(userSignedIn)}`);
        window.location = buildRedirectionUrl();
      } else {
        console.log(`Nope.. count: ${count} target: ${target}`);
      }
    };
    // DATA TO SEND
    senderName = userSignedIn ? "YOU" : senderName;
    const toSend = {
      authenticity_token: authenticityToken,
      reko: {
        itunes_id: card.dataset.itunes_id,
        title: card.dataset.title,
        image_url: card.dataset.image_url,
        genre: card.dataset.genre,
        sender_name: senderName,
        token: token
      }
    };
    xhr.open("POST", "/rekos");
    xhr.setRequestHeader("Content-type", "application/json");
    xhr.send(JSON.stringify(toSend));
    // console.log("POST request send with data: ");
    // console.log(toSend);
  };

  // -----------
  // MAIN SCRIPT
  // -----------
  inputKeyword.value = searchTerm;
  apiCall(inputKeyword.value);



</script>





<style>
body {
  background: rgba(0,0,0);
}
#inputKeyword {
  height: 19px;
  border-radius: 50px;
}
.search-card {
  background: url("https://fanart.tv/fanart/movies/605/movieposter/the-matrix-revolutions-524679650709a.jpg");
  background-size: cover;
}
#search-page-container {
  /*height: 800px;*/
  position: relative;
}
#sticky-search-navbar {
  /*background-color: #333;*/
  width: 100%;
  height: 60px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background: transparent;*/
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(rgba(0,0,0,1)),
    to(rgba(0,0,0,0))
  );
}
#sticky-footer-send {
  overflow: hidden;
  /*background-color: #333;*/
  width: 100%;
  height: 60px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background: transparent;*/
  background: -webkit-gradient(
    linear, left bottom, left top,
    from(rgba(0,0,0,1)),
    to(rgba(0,0,0,0))
  );
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  height:120px;
}
#sendRekosButton {
  /*top: 90%;*/
  /*left: 45%;*/
  /*position: absolute;*/
}
</style>
