<!-- TRIGGER JavaScript -->
<meta class="jsTrigger-addNewRekos">
<!-- ENCODE "auth-token", "rekoTickImgUrl" and "userSignedId" inside hidden fields -->
<input id="rekoTickImgUrl" type="hidden" value="<%= asset_path 'white-check.svg' %>">
<input id="userSignedIn" type="hidden" value="<%= user_signed_in? %>">
<input id="base" type="hidden" value="<%= @base %>">
<input id="classifier" type="hidden" value="<%= @classifier %>">
<input id="params_senderName" type="hidden" value="<%= @sender_name %>">
<input id="params_token" type="hidden" value="<%= @token %>">
<input id="params_searchTerm" type="hidden" value="<%= @search_term %>">
<!-- END OF HIDDEN FIELDS -->

<div id="search-page-container">
  <div id="sticky-search-navbar">
    <form id="formAjaxSearch" class="visible">
      <input autocomplete="off" id="inputKeyword" name="" type="text" class= "input-field-text-md" placeholder="search for movies">
    </form>
  </div>

  <!-- CARDS STYLING -> _search-cards.scss -->
  <div id="search-cards-container">
    <%#= render partial: "placeholder_movies" %>
  </div>
  <div id="sticky-footer-placeholder" style="height:120px"></div>
  <div id="sticky-footer-send">
    <button id="sendRekosButton" class="bttn-round-small invisible"></button>
  </div>
</div>








<style>
body {
  background: rgba(0,0,0);
}
#inputKeyword {
  height: 19px;
  border-radius: 50px;
}
.search-card {
  background: url("https://fanart.tv/fanart/movies/605/movieposter/the-matrix-revolutions-524679650709a.jpg");
  background-size: cover;
}
#search-page-container {
  /*height: 800px;*/
  position: relative;
}
#sticky-search-navbar {
  /*background-color: #333;*/
  width: 100%;
  height: 60px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background: transparent;*/
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(rgba(0,0,0,1)),
    to(rgba(0,0,0,0))
  );
}
#sticky-footer-send {
  overflow: hidden;
  /*background-color: #333;*/
  width: 100%;
  height: 60px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background: transparent;*/
  background: -webkit-gradient(
    linear, left bottom, left top,
    from(rgba(0,0,0,1)),
    to(rgba(0,0,0,0))
  );
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  height:120px;
}
#sendRekosButton {
  /*top: 90%;*/
  /*left: 45%;*/
  /*position: absolute;*/
}
</style>
