<!-- DO NOT CHANGE THE ID NAMING -->
<!-- <div class="background-container dark-violet"> -->
  <div id="jsTrigger-addNewRekos" class="master-container green">
    <div class="paper-wrapper">
      <% if user_signed_in? %>
        <h1>Hello <%= current_user.first_name %>, add Rekos to your own list!</h1>
      <% else %>
        <h1> Send <%= @user.to_s %> needs a great documentary to watch.</h1> <h2>Send him some Rekos:</h2>
        <div class="search-div">
          <form id="formSubmitName">
            <input class= "input-field-text-md" autocomplete="off" id="inputName" name="beta_applicant[name]" type="text" placeholder="YOUR NAME HERE" value="<%= "#{@sender_name}" %>">
            <button class= "bttn bttn-round-small">+</button>
          </form>
        </div>
      <% end %>

      <form id="formAjaxSearch" class="<%= user_signed_in? ? "visible" : "invisible" %>">
        <input id="auth" type="hidden" value="<%= session[:_csrf_token] %>">
        <input id="userSignedIn" type="hidden" value="<%= user_signed_in? %>">
        <input autocomplete="off" id="inputKeyword" name="" type="text" placeholder="search for movies">
        <button id="sendRekosButton">GO</button>
      </form>

      <!-- CARDS STYLING -> _search-cards.scss -->
      <div id="search-cards-container">
        <!-- WILL GET DYNAMICALLY POPULATED WITH NEW CARDS -->
      </div>
    </div>
  </div>


<!-- </div> -->

