<!-- DO NOT CHANGE THE ID NAMING -->
<!-- <div class="background-container dark-violet"> -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<div class="jsTrigger-addNewRekos jsTrigger-itunesApiCall background-container b-white">
  <div class="master-container">

    <div class="search-page-wrapper">
      <div class="search-top-text">
        <% if user_signed_in? %>
          Hey <%= current_user.first_name %>, <br> add Rekos to your own list!
        <% else %>
          <div class="user-is-looking"><%= @user.first_name.capitalize %> is looking for a good documentary or movie to watch.</div>
          <div class="visitor-search">
                      <form id="formSubmitName" class = "search-div">
                        <input class= "visitor-form-field" autocomplete="off" id="inputName" name="beta_applicant[name]" type="text" placeholder="Enter your name to continue..." value="<%= "#{@sender_name}" %>">
                        <button class= "submit-button"></button>
                      </form>
          </div>
        <% end %>

          <form id="formAjaxSearch" class="<%= user_signed_in? ? "visible" : "invisible" %>">
            <!-- ENCODE "auth-token", "rekoTickImgUrl" and "userSignedId" inside hidden fields -->
            <input id="auth" type="hidden" value="<%= session[:_csrf_token] %>">
            <input id="rekoTickImgUrl" type="hidden" value="<%= asset_path 'white-check.svg' %>">
            <input id="userSignedIn" type="hidden" value="<%= user_signed_in? %>">
            <!-- END OF HIDDEN FIELDS -->
            <input autocomplete="off" id="inputKeyword" name="" type="text" class= "search-bar-big" placeholder="&#xf0eb; Search for Rekos" style="font-family:Arial, FontAwesome">
            <button id="sendRekosButton" class="invisible bttn-round-small"></button>
          </form>

        <!-- CARDS STYLING -> _search-cards.scss -->
        <div id="search-cards-container">
          <!-- WILL GET DYNAMICALLY POPULATED WITH NEW CARDS -->
        </div>

      </div>
    </div>
  </div>
</div>



