<!-- TRIGGER JavaScript -->
<meta class="jsTrigger-addNewRekos">
<!-- ENCODE "auth-token", "rekoTickImgUrl" and "userSignedId" inside hidden fields -->
<input id="rekoTickImgUrl" type="hidden" value="<%= asset_path 'white-check.svg' %>">
<input id="base" type="hidden" value="<%= @base %>">
<input id="classifier" type="hidden" value="<%= @classifier %>">
<input id="params_senderName" type="hidden" value="<%= @sender_name %>">
<input id="params_token" type="hidden" value="<%= @token %>">
<input id="params_redirectHome" type="hidden" value="<%= @redirect_home %>">
<!-- END OF HIDDEN FIELDS -->

<div id="search-page-container">
  <div id="sticky-search-navbar">
    <form id="formAjaxSearch" class="visible">
      <input autocomplete="off" id="inputKeyword" name="" type="text" class= "input-field-text-md" placeholder="Search for rekos...">
    </form>
  </div>

  <!-- CARDS STYLING -> _search-cards.scss -->
  <div id="search-cards-container">
    <%#= render partial: "placeholder_movies" %>
  </div>
  <div id="sticky-footer-placeholder" style="height:120px"></div>
  <div id="sticky-footer-send">
    <button id="sendRekosButton" class="bttn-round-small invisible"></button>
  </div>
</div>



