<!-- DO NOT CHANGE THE ID NAMING -->
<!-- <div class="background-container dark-violet"> -->
<div class="background-container b-violet">
  <div id="jsTrigger-addNewRekos" class="master-container">

      <% if user_signed_in? %>
      <div class="search-top-wrapper">
        Hey <%= current_user.first_name %>, <br>add Rekos to your own list!
        <div class="paper-wrapper-search">
      <% else %>
        <div class="search-top-wrapper">
          <%= @user.first_name.capitalize %> needs some great movies to watch.
        </div>
        <div class="paper-wrapper-search">
          <h3>Type your name to start giving rekos:</h3>

              <form id="formSubmitName" class = "search-div">
                <input class= "input-field-text-md" autocomplete="off" id="inputName" name="beta_applicant[name]" type="text" placeholder="YOUR NAME HERE" value="<%= "#{@sender_name}" %>">
                <button class= "submit-button"></button>
              </form>

        <% end %>

      <form id="formAjaxSearch" class="<%= user_signed_in? ? "visible" : "invisible" %>">
        <input id="auth" type="hidden" value="<%= session[:_csrf_token] %>">
        <input id="userSignedIn" type="hidden" value="<%= user_signed_in? %>">
        <input autocomplete="off" id="inputKeyword" name="" type="text" class= "input-field-text-md" placeholder="search for movies">
        <button class="bttn-round-small">+</button>
      </form>

      <!-- CARDS STYLING -> _search-cards.scss -->
      <div id="search-cards-container">
        <!-- WILL GET DYNAMICALLY POPULATED WITH NEW CARDS -->
      </div>
    </div>
  </div>


<!-- </div> -->

