<!-- DO NOT CHANGE THE ID NAMING -->
<!-- <div class="background-container dark-violet"> -->
  <div class="master-container green">
    <div class="paper-wrapper">
      <% if user_signed_in? %>
        <h1>Hello <%= current_user.first_name %>, add Rekos to your own list!</h1>
      <% else %>
        <h1><%= @user.to_s %> needs Rekos from you!</h1>
        <form id="formSubmitName">
          <input autocomplete="off" id="inputName" name="beta_applicant[name]" type="text" placeholder="input your name" value="<%= "#{@sender_name}" %>">
          <button>submit</button>
        </form>
      <% end %>


      <form id="formAjaxSearch" class="<%= user_signed_in? ? "visible" : "invisible" %>">
        <input id="auth" type="hidden" value="<%= session[:_csrf_token] %>">
        <input id="userSignedIn" type="hidden" value="<%= user_signed_in? %>">
        <input autocomplete="off" id="inputKeyword" name="" type="text" placeholder="search for movies">
        <button id="sendRekosButton">GO</button>
      </form>

      <!-- CARDS STYLING -> _search-cards.scss -->
      <div id="search-cards-container">
        <!-- WILL GET DYNAMICALLY POPULATED WITH NEW CARDS -->
      </div>
    </div>
  </div>
<!-- </div> -->

