<!-- ENCODE "auth-token", "rekoTickImgUrl" and "userSignedId" inside hidden fields -->
<input id="params_senderName" type="hidden" value="<%= @sender_name %>">
<input id="params_token" type="hidden" value="<%= @token %>">
<input id="userSignedIn" type="hidden" value="<%= user_signed_in? %>">
<meta class="jsTrigger-onboarding">
<!-- END OF HIDDEN FIELDS -->

<div class="background-container b-white">
  <div class="master-container">
    <div class="search-page-wrapper">
      <div class="search-top-text">
        <div class="user-is-looking">
          <img id="avatar-onboarding-page" src="<%= asset_path(@user.image_url) %>" alt="<%= @user.first_name %>">
          Your friend <%= @user.first_name.capitalize %> needs some good
          <% @user_preferences.each_with_index do |preference, index| %>
            <span><%= preference.downcase %></span>
            <%= ', ' if @user_preferences.size - 2 > index %>
            <%= ' and ' if @user_preferences.size - 2 == index %>
            <%= ' to watch.' if @user_preferences.size - 1 == index %>
          <% end %>
        </div>
        <div class="visitor-search">
          <form id="formSubmitName" class = "search-div">
            <input class= "visitor-form-field" autocomplete="off" id="inputName" name="beta_applicant[name]" type="text" placeholder="Enter your name to continue..." value="<%= "#{@sender_name}" %>">
            <button id="buttonContinue" class= "submit-button invisible"></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

