<div class="master-container jsTrigger-feedbackModal">
  <div class="paper-wrapper">
    <h2 id="thankyou-text">Thank you <%= @sender_name %>! You just sent the following Rekos to <%= @receiver&.first_name %>:</h2>
    <ul>
      <% @movies&.each do |movie| %>
        <li><%= movie %></li>
      <% end %>
    </ul>

    <div class="thankyou-page-bttn-margin">
      <%= link_to "send more rekos", new_reko_path(sender_name: @sender_name, token: @token), class: "bttn bttn-small b-violet" %>
    </div>

    <div class="thankyou-page-bttn-margin">
      <%= link_to "sign up for beta", new_beta_applicant_path, class: "bttn bttn-small b-violet"  %>
    </div>

    <div class="thankyou-page-bttn-margin">
      <button id="new-feedback-bttn" class="bttn b-violet">Leave Feedback!</button>
    </div>


  </div>
</div>

<!-- VARIABLES -->
<!-- @sender_name, @receiver&.first_name, @movies -->
