<div class="background-container b-white jsTrigger-feedbackModal">
  <div class="master-container">
    <div class="search-page-wrapper">
      <div class="search-top-text">
      <img id="avatar-onboarding-page" src="<%= asset_path(@user.image_url) %>" alt="<%= @user.first_name %>">
        <%= @receiver&.first_name.capitalize %><br> will be grateful.
        <%= link_to "SEND MORE REKOS", new_reko_path(sender_name: @sender_name, token: @token), class: "bttn b-large b-violet send-more-rekos-bttn" %>
        <div class="thankyou-logo-container">
        <%= image_tag "logo", alt: "reko-logo", :class => "thanks-logo", width: 110%>
      </div>
      <div class="thankyou-feedback-container">
        <div id="new-feedback-bttn" class="apply-for-beta-link f-violet">Leave Feedback</div>
      </div>
    </div>
  </div>
</div>
