<div class="background-container-landing b-violet">
  <div class=space-top>
  <div class="master-container-landing">
    <div class="paper-wrapper">

        <h2 >Log in</h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="form-wrapper">
          <div class="form-log-in">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        label:false,
                        placeholder:"EMAIL",
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        placeholder:"PASSWORD",
                        label:false,
                        input_html: { autocomplete: "current-password" } %>
            <div>
            <%= f.input_field :remember_me,class: "no-border", as: :boolean if devise_mapping.rememberable? %>
            <%= f.label "Remember Me" %>
            </div>
         </div>

              <div>
               <%= f.button :submit, "Log in", id:"form-btn-login"%>
              </div>
        <% end %>

  </div>
        <%= render "devise/shared/links" %>
    </div>
  </div>
  </div>
</div>

