<div class = "container">
  <div class = "row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">


    <%= simple_form_for [@user, @user_preference] do |f| %>

    <%#= f.association :preference, as: :check_boxes %>
     <%#= f.input :status, collection: User_Preferences::STATUSES, prompt: "Which status" %>
     <% Preference.all.each do |preference| %>
      <input type="checkbox" class="hidden" value="<%= preference.id %>" name="user_preference[preference_ids][]" id="post_preference_ids_<%= preference.id %>">
      <label for="post_preference_ids_<%= preference.id %>">
        <%= preference.name %>
        <i class="fa fa-check"></i>
      </label>
     <% end %>
     <%= f.submit %>
    <% end %>



    </div>
  </div>
</div>
