<div class="background-container b-violet">
  <div class="master-container-landing">
    <div class="padding-user-pref"></div>
      <div class="paper-wrapper-landing">
       <!--  <div class = "container">
          <div class = "row"> -->
            <h1>You need some good recommendation for:</h1>
            <div class="form-post">
             <%= simple_form_for [@user, @user_preference] do |f| %>
               <div class = "user_preference_choices">
               <% Preference.all.each do |preference| %>
                <input type="checkbox" value="<%= preference.id %>" name="user_preference[preference_ids][]" id="post_preference_ids_<%= preference.id %>" hidden>
                  <label class="user_preference_choice" for="post_preference_ids_<%= preference.id %>">
                   <%= preference.name %>
                    </label>
                    <% end %>

                    <h4 class="future-features">Audiobooks and Podcasts are coming soon.</h4>
                    <div style="text-align:center">

                  <%= f.submit '', class: "submit-button", disabled: true %>
                <% end %>
                <!-- </div>
              </div> -->
          </div>
        </div>
      </div>
      <a href="https://www.google.com">BACK</a>
    </div>
  </div>
</div>
