<!--
  THIS PARTIAL NEEDS ONE PARAMETERS
  "movies", WHICH IS AN ARRAY OF MOVIE INSTANCES
-->
<table class="table table-sm">
  <tr>
    <th></th>
    <th>id</th>
    <th>title</th>
    <th>genre</th>
    <th>times recommended</th>
    <th>created_at</th>
    <th>updated_at</th>
  </tr>
  <% movies.each do |movie| %>
    <tr>
      <td><img src="<%= movie.image_url %>" alt="" style="height:60px"></td>
      <td><%= movie.id %></td>
      <td><%= movie.title %></td>
      <td><%= movie.genre %></td>
      <td><%= movie.rekos.size %></td>
      <td><%= movie.created_at %></td>
      <td><%= movie.updated_at %></td>
    </tr>
  <% end %>
</table>
