<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, height=device-height,  initial-scale=1.0, user-scalable=no;user-scalable=0;"/>
    <title>Reko</title>
    <meta description="Get recommendations for movies, shows and documentaries from your friends, because friends know best!">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>

  <body>
      <%#= render 'shared/navbar' %>
       <%#= render 'shared/flashes' %>
       <%= yield %>

      <%= javascript_include_tag 'application' %>
      <%= javascript_pack_tag 'application' %>
  </body>

</html>
